@use "./assets/scss/ui/import" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  min-height: 100%;
}

body {
  min-width: 320px;
  background-color: $siteBackground;
  color: $lightText;
}
